<h1>Find Book Result</h1>

{{#if query}}
<p>Query: {{query}}</p>
{{/if}}

{{#if book}}
<table>
	<tr>
		<td>Title:</td>
		<td>{{book.title}}</td>
	</tr>
	<tr>
		<td>Author(s):</td>
		<td>
			{{#if book.authors}}
				{{#each book.authors}}
					{{this}}
					{{#unless @last}}<br>{{/unless}}
				{{/each}}
			{{else}}
				'--'
			{{/if}}
		</td>
	</tr>
</table>
{{/if}}

{{#if error}}
<p><strong>ERROR:</strong> {{error}}</p>
{{/if}}
